@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    background-color: #2d2d2d;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    /* Viewport height: 90/10 da altura do dispositivo*/
}
img{
    width: 100px;
    border-radius: 50px;
    margin: 5px;
}
.linha{
    display: flex;
    flex-direction: row;
}
button{
    font-size: 20px;
    margin: 15px;
    padding: 20px;
    background: #5162ff;
    border-radius: 10px;
    border: #fff 1px solid;
    cursor: pointer;
}
button:hover{
    background: #fff;
    color: #5162ff;
    border: 1px solid #5162ff;
}
label, select{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}